*.env
*.env.local
acces_log.php
config.php
currency*.js
*.zip
DKIM
*.txt
*.docx
*.log
*.key
/api/**
/cafe24/**
/config/**
/database/**
/gnuboard5/**
/html/**
/logs/**
/uploads/**
/favicon.icon/**
/favicon.icon2/**

