.env
/.well-known/**
/cafe24/**
/favicon.icon2/**
/gnuboard5/**
/html/**
/logs/**
/uploads/**
google.*
*.env
hosting_index.html
about.html.*
contact.html.*
contact-contact.html.*
contact-community.html.*

index.html.*
listing.html.*
product.html.*
robots.txt
*.txt
